html
	head
		meta(name='viewport' content='width=device-width initial-scale=1')
		link(rel='title icon' type='image/png' href='images/camera-icon.png')
		link(rel='stylesheet' type='text/css' href='styles/style.scss')
		title Animals - Pretty Nature Stuff
	body
		div.wrapper
			header
				h1
					a(href="/") Pretty nature stuff
				nav
					ul
						li
							a(href='/') Home
						li
							a(href='/nature') Momma Nature
						li
							a.active(href='/animals') Animales
						li
							a(href='/backpackers') Backpackers

			main
				h2 Wild Animals!
				.img-container
					a(href="#")
						img(src="images/animal1.jpeg", alt="animal1")
					a(href="#")
						img(src="images/animal2.jpeg", alt="animal2")
					a(href="#")
						img(src="images/animal3.jpeg", alt="animal3")
					a(href="#")
						img(src="images/animal4.jpeg", alt="animal4")
					a(href="#")
						img(src="images/animal5.jpeg", alt="animal5")
					a(href="#")
						img(src="images/animal6.jpeg", alt="animal6")



			footer
				h4 &copy; Created by NoerGitKat. All Rights Reserved 2017