html
	head
		meta(name='viewport' content='width=device-width initial-scale=1')
		link(rel='title icon' type='image/png' href='images/camera-icon.png')
		link(rel='stylesheet' type='text/css' href='styles/style.scss')
		title Backpackers - Pretty Nature Stuff
	body
		div.wrapper
			header
				h1
					a(href="/") Pretty nature stuff
				nav
					ul
						li
							a(href='/') Home
						li
							a(href='/nature') Momma Nature
						li
							a(href='/animals') Animales
						li
							a.active(href='/backpackers') Backpackers

			main
				h2 Adventurous Peepz!
				.img-container
					a(href="#")
						img(src="images/backpacker1.jpeg", alt="backpacker1")
					a(href="#")
						img(src="images/backpacker2.jpeg", alt="backpacker2")
					a(href="#")
						img(src="images/backpacker3.jpeg", alt="backpacker3")
					a(href="#")
						img(src="images/backpacker4.jpeg", alt="backpacker4")
					a(href="#")
						img(src="images/backpacker5.jpeg", alt="backpacker5")
					a(href="#")
						img(src="images/backpacker6.jpeg", alt="backpacker6")



			footer
				h4 &copy; Created by NoerGitKat. All Rights Reserved 2017