html
	head
		meta(name='viewport' content='width=device-width initial-scale=1')
		link(rel='title icon' type='image/png' href='images/camera-icon.png')
		link(rel='stylesheet' type='text/css' href='styles/style.scss')
		title Pretty Nature Stuff
	body
		div.wrapper
			header
				h1
					a(href="/") Pretty nature stuff
				nav
					ul
						li
							a.active(href='/') Home
						li
							a(href='/nature') Nature
						li
							a(href='/animals') Animals
						li
							a(href='/backpackers') Backpackers

			main
				img(src="images/nature-img-alt.gif")


			footer
				h4 2017 &copy; Created by NoerGitKat. All Rights Reserved.