html
	head
		meta(name='viewport' content='width=device-width initial-scale=1')
		link(rel='title icon' type='image/png' href='images/camera-icon.png')
		title Image Gallery
	body
		h1 This-a is-a mi galleria! Mama mia!
		img(src='')