html
	head
		meta(name='viewport' content='width=device-width initial-scale=1')
		link(rel='title icon' type='image/png' href='images/camera-icon.png')
		link(rel='stylesheet' type='text/css' href='styles/style.scss')
		title Nature - Pretty Nature Stuff
	body
		div.wrapper
			header
				h1
					a(href="/") Pretty nature stuff
				nav
					ul
						li
							a(href='/') Home
						li
							a.active(href='/nature') Nature
						li
							a(href='/animals') Animals
						li
							a(href='/backpackers') Backpackers

			main
				h2 Purrrty Nature!
				.img-container
					a(href="#")
						img(src="images/nature1.jpeg", alt="nature1")
					a(href="#")
						img(src="images/nature2.jpeg", alt="nature2")
					a(href="#")
						img(src="images/nature3.jpeg", alt="nature3")
					a(href="#")
						img(src="images/nature4.jpeg", alt="nature4")
					a(href="#")
						img(src="images/nature5.jpeg", alt="nature5")
					a(href="#")
						img(src="images/nature6.jpeg", alt="nature6")


			footer
				h4 2017 &copy; Created by NoerGitKat. All Rights Reserved.